language: ruby
rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.7
  - 2.3.4
  - 2.4.1
  - jruby-9.1.9.0
jdk:
  - oraclejdk8
notifications:
  email: false
git:
  depth: 10
before_install:
  - sudo apt-get install perl
  - sudo add-apt-repository --yes ppa:kalakris/cmake
  - sudo apt-get update -qq
  - sudo apt-get install cmake
  - curl -L http://cpanmin.us | perl - --sudo App::cpanminus
  - sudo cpanm --installdeps --notest Pod::Simple
  - sudo pip install docutils
cache:
  - bundler
  - pip
env:
  global:
    - "JRUBY_OPTS=-Xcext.enabled=true"
matrix:
 allow_failures:
   - rvm: jruby-9.1.9.0
