name: CI
on: [push, pull_request]

env:
  JRUBY_OPTS: -Xcext.enabled=true

permissions:
  contents: read

jobs:
  build:
    name: "Test / Ruby ${{ matrix.ruby }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 10

      - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - uses: actions/setup-python@v5.5.0
        with:
          # This should match lib/github/markups.rb GitHub::Markups::MARKUP_RST
          python-version: "3.x"

      - uses: actions/cache@v4.2.3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip

      - name: Install Perl dependencies
        run: |
          curl -1sLf \
            'https://dl.cloudsmith.io/public/nxadm-pkgs/rakudo-pkg/setup.deb.sh' \
            | sudo -E bash
          sudo apt-get update -qq
          sudo apt-get install perl rakudo-pkg

          curl -L http://cpanmin.us | perl - --sudo App::cpanminus
          sudo cpanm --installdeps --notest Pod::Simple

      - name: Install Python dependencies
        run: python -m pip install docutils

      - name: Run rake
        run: |
          export PATH=$PATH:/.perl6/bin:/opt/rakudo-pkg/bin
          bundle exec rake
